@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: hsl(218, 23%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container{
    background-color: hsl(218, 20%, 24%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 300px;
    max-height: 400px;
    width: 40%;
    height: 54%;
}

.advice-number {
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 5px;
    font-weight: 500;
}

.advice-text{
    font-size: 1.75rem;
    color: hsl(193, 38%, 86%);
    font-weight: 600;
    width: 80%;
    line-height: 1.3;
}

.divider {
    width: 80%;
    align-items: center; 
    margin-bottom: -100px;
}

.divider img {
    width: 100%;
}

.dice-btn {
    background-color: hsl(150, 100%, 66%);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    bottom: -25%;
    width: 4rem;
    height: 4rem;

}

.dice-btn img {
    vertical-align: middle;
}

.dice-btn:hover {
    box-shadow: 0px 0px 20px 2px hsl(150, 100%, 66%);
}

.attribution {  
    text-align: center; 
    position: fixed;
    bottom: 0;
    font-size: 0.7rem;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    color: hsl(193, 38%, 86%);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}
